.header
  .header__contents
    .header__contents__logo Homework App
    .header__contents__right
      .header__contents__right__name 田中
      .header__contents__right__log 
        = link_to "#", class: "cheader__contents__log__btn" do
          ログイン
