.main
  .main__message
    = render "post"
  .main__form
    .main__form__box
    = form_with url: posts_path, local: true do |form|
      = form.text_area :content, class: "main__form__box__text", placeholder: "文字を入力（25文字以内)"
      = form.submit value = "投稿する", class: "main__form__btn"
    .main__footer aaa