- @posts.each do |post| 
  .main__message__box
    .main__message__box__text
      = post.content
    .main__message__box__data
      .main__message__box__data__name aa
      .main__message__box__data__date
        = post.created_at